<p id="notice"><%= notice %></p>

<h1 class='text-center'>Attendees</h1>
<div class='text-center'>
  <%= link_to 'Create New Attendee', new_attendee_path, class: 'btn btn-primary' %>
</div>

<br>

<%= paginate @attendees, theme: 'twitter-bootstrap-4' %>

<%= search_form_for @q do |f| %>
  <div class="row">
    <div class="col-sm-8">
      <%= f.search_field :name_cont, class: 'form-control search-field', placeholder: 'Search...' %>
    </div>
    <div class="col-sm-2">
      <%= f.submit class: 'btn btn-secondary search-btn' %>
    </div>
  </div>
<% end %>

<div class="row">
  <% @attendees.each do |attendee| %>
    <div class="col-md-4">
      <div class="card text-center mt-3">
        <div class="card-header">
          <h4><%= link_to attendee.name, attendee %></h4>
        </div>
        <div class="card-body">
          <% attendee.medications.each do |medication| %>
          <p><%= medication.name %> - <%= medication.strength %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<div class="text-xs-center">
  <%= paginate @attendees, theme: 'twitter-bootstrap-4' %>
</div>
